@import 'tailwind';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

button,
input {
  outline: none;
}

.container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 15px;

  @media (max-width: 1024px) {
    max-width: 1024px;
  }

  @media (max-width: 768px) {
    max-width: 768px;
  }

  @media (max-width: 640px) {
    max-width: 100%;
  }
}
